

*{
  margin: 0;
  padding: 0;
}
.header-gradient{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
 .demo-big-content .drawerColor{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .header-gradient .logoss{
      width: 6% !important;
      margin-right: 40%;
    } 
  
.landing-grid{
        
  /* background: #0F2027;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, 
 Safari 7+ */
 background-image: url(../src/components/back2.png);
 background-size: cover;
 display:inline-block;
 
 }
 .drawerColor .drawerNavbar{
   font-size: 18px;
   font-weight: 600;
   color: #d9d9d9 !important;
   text-decoration: none !important;
 }
 .drawerColor .drawerNavbar:hover{
   color: #243B55 !important;
 }
 .drawerColor .logos{

      width: 30%;
      margin-top: 2rem;
      margin-left: 3rem;
 }
 
 .header-gradient .navlink{
  font-size: 16px;
  font-weight: 600;
  text-decoration: none !important;
  
 }
 
 .overrlay{
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, .6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

section div{
  padding: 3em;
  float: left;
}
.navlink{
  text-decoration: none;
  list-style: none;
}
.flex3{
  
 padding-top: 10em;
}
.flex1 p{
  font-size: 22px;
  font-weight: 600;
  margin-top: -10px;
}
.rounded-circle{
  width: 264px; 
  height: 276px;
  }
.animate__animated{
  color: aliceblue;
  line-height: normal;
  
}
.animate__flash{
  
  font-size: 26px;
  
}

.texts{
  color: #5F4B8BFF;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
  
}
.btton{
  text-align: left;
  background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.paragraph{
  width: 100%;
  
  justify-content: center;
  
  padding-top: 1em;
  padding: 5em;
  /* background-color:#43464b; */
 background-image: url(../src/components/wooden4.jpg);
 background-size: cover;
 background-attachment: fixed; 
  margin-top: -1em;
  
}
.paragraph p{
  flex: 2;

  text-align: center;
  color: aliceblue;
  font-size: 22px;
}

.icons{

  padding-top: 3em;
  display: inline-flex;
  text-align:  center;
  justify-content: center;
  justify-content: space-around;
}
.icons .icns{
  font-size: 40px;
  color: cadetblue;
  }
  .icons .icns:hover{
    transform: rotateY(180deg) !important;
    transition: ease-in 1s !important;
  }
.sub-heading{
  display: inline-flex;
  text-align:  center;
  justify-content: center;
  justify-content: space-around;
}
.ovrrlayy{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  
}
.badge{
  width: 100%;
  background:#151515;
}

@media (min-width:768px){
  .icons{
    
    padding-top: 3em;
    display: inline-flex;
    text-align:  center;
    justify-content: center;
    justify-content: space-around;
  }
  .icons .icns{
    font-size: 80px;
    
  }
  
  .sub-heading{
    display: inline-flex;
    text-align:  center;
    justify-content: center;
    justify-content: space-around;
  }
  
}


